#container{
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}
.cardone{
    position: relative;
    top: 123px;
    color: white;
    height: 250px;
    width: 200px;
    background-color: rgb(2, 19, 117);
    border: 2px solid black;
    border-radius: 5px;
}

.cardone h2{
    position: relative;
    text-align: center;
    top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.description{
    position: relative;
    text-align: center;
    top: 50px;
    font-size: 15px;
}

.button{ 
    position: relative;
    top: 101px;
    left: 132px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
}

.cardone a{
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: rgb(48, 106, 231);
}

/*carte deux Horloge*/

.cardtwo{
    position: relative;
    top: 123px;
    color: white;
    height: 250px;
    width: 200px;
    background-color: rgb(2, 19, 117);
    border: 2px solid black;
    border-radius: 5px;
}

.cardtwo h2{
    position: relative;
    text-align: center;
    top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.descriptiontwo{
    position: relative;
    text-align: center;
    top: 50px;
    font-size: 15px;
}

.buttontwo{
    position: relative;
    top: 101px;
    left: 112px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
}

.cardtwo a{
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: rgb(48, 106, 231);
}


/*carte deux Fizz Buzz*/

.cardthree{
    position: relative;
    top: 123px;
    color: white;
    height: 250px;
    width: 200px;
    background-color: rgb(2, 19, 117);
    border: 2px solid black;
    border-radius: 5px;
}

.cardthree h2{
    position: relative;
    text-align: center;
    top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.descriptionthree{
    position: relative;
    text-align: center;
    top: 50px;
    font-size: 15px;
}

.buttonthree{
    position: relative;
    top: 84px;
    left: 99px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
}

.cardthree a{
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: rgb(48, 106, 231);
}

/*carte deux Fizz Buzz Final*/

.cardfor{
    position: relative;
    top: 123px;
    color: white;
    height: 250px;
    width: 200px;
    background-color: rgb(2, 19, 117);
    border: 2px solid black;
    border-radius: 5px;
}

.cardfor h2{
    position: relative;
    text-align: center;
    top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.descriptionfor{
    position: relative;
    text-align: center;
    top: 50px;
    font-size: 15px;
}

.buttonfor{
    position: relative;
    top: 100px;
    left: 63px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
}

.cardfor a{
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    color: rgb(48, 106, 231);
}